h1 {
  color: #BDB76B;
  text-transform: full-width;
}

body{
  background-color: black;
  color: #BDB76B;
  text-align: center;
}

p {
  color: #F0E68C;
  text-align: center;
}
.column {
    color: #800000;
    }
}

.menu {
  float: right;
}
